<!DOCTYPE html>
<html lang="en">

  <head>

    <script language=javascript>
    function btn_click(str){
      if(str=="send")
      {
        alert("글 수정이 완료 되었습니다.");
      self.close()
      }
    }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/my_favicon.ico"/>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->

    <% include ./navigation.ejs %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/스누피2.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Diagram</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- main -->

  <div class="col-lg-8 col-md-10 mx-auto">

      <div class="post-preview">
          <h2 class="post-title">
              <%= post.post_title %>
          </h2>
          <h3 class="post-subtitle">
            <%= post.post_content %>
          </h3>
          <h3 class="post-subtitle">
            Posted by <%= user.user_nickname %>
          </h3>
          <h3 class="post-subtitle">
            Share To:
          <% if(post.post_share == 0 ) { %>
               Only Me
					<% } else{ %>
               Everyone
          <% } %>
          </h3>
          <a href="#">
            <img class="img-fluid" src="img/<%= post.post_image %>" alt=""><br/>
          </a>
      </div>

      <% if(session.user_info) { %>
        <% if(session.user_info.user_id == post.user_id) { %>
      <div class="container">
      <form action="/modify_post?post_id=<%= post.post_id %>" name="modify_post" method = "post">
      <div class="control-group">
        <label for="ShareType">Share To</label>
        <select name="shareType" class="selectpicker">
          <option value="0">Only Me</option>
          <option value="1">Everyone</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" onclick='btn_click("send")' class="btn btn-primary" id="sendMessageButton">Modify</button>
      </div>
      </form>
      </div>
      <% } %>
      <% } %>
      <hr>


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; OHM 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
